<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>后台管理</title>
<link type="text/css" rel="stylesheet" href="/static/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
</style>
</head>
<body>	
	<div id="header">
			<!-- <img class="logo_img" alt="" src="/static/img/logo.gif" > -->
			<span class="wel_word">后台管理系统</span>
			<div>
				<a href="/relogin">重新登录</a> 
				<a href="/main">返回</a>
			</div>
	</div>
	
	<div id="main">		
			<h1>无管理权限，请登录管理员账号后再操作！</h1>
	</div>
	
	<div id="bottom">
		<span>
			书城.Copyright &copy;2021
		</span>
	</div>
</body>
</html>